(
	tileset_image_path: "tiles.png",
	tile_size: 16,
	tiles: {
		"floor": (
			allowed_neighbours: {
				All: [(label: "stairs"), (label: "floor")],
			},
			weight: 50,
			coords: (2, 1),
		),
		"ground": (
			allowed_neighbours: {
				All: [(label: "ground"), (label: "rocky_ground")]
			},
			weight: 50,
			coords: (3, 1)
		),
		"rocky_ground": (
			weight: 5,
			coords: (4, 1),
		),
		"stairs": (
			weight: 5,
			coords: (1, 1),
		),
		"wall": (
			allowed_neighbours: {
				Up: [(label: "ground"), (label: "rocky_ground")],
				Down: [(label: "floor")],
				Left: [(label: "wall", rotation: Normal), (label: "wall_tl", rotation: Normal)],
				Right: [(label: "wall", rotation: Normal), (label: "wall_tl", rotation: Plus90)],
			},
			weight: 5,
			coords: (2, 2),
			rotatable: true,
		),
		"wall_tl": (
			rotatable: true,
			coords: (1, 4),
			weight: 50,
			allowed_neighbours: {
				Up: [(label: "ground"), (label: "rocky_ground")],
				Left: [(label: "ground"), (label: "rocky_ground")],
			}
		),
		"creep_edge": (
			coords: (3, 2),
			weight: 25,
			allowed_neighbours: {
				All: [(label: "ground"), (label: "creep_edge")]
			}
		),
		"creep": (
			coords: (3, 3),
			weight: 25,
			allowed_neighbours: {
				All: [(label: "creep"), (label: "creep_edge")]
			}
		),
		"derelict_tl": (
			coords: (5, 3),
			weight: 1,
			allowed_neighbours: {
				Left: [(label: "creep")],
				Up: [(label: "creep")],
				Right: [(label: "derelict_tr")],
				Down: [(label: "derelict_bl")]
			},
		),
		"derelict_tr": (
			coords: (6, 3),
			weight: 1,
			allowed_neighbours: {
				Right: [(label: "creep")],
				Up: [(label: "creep")],
				Down: [(label: "derelict_br")]
			},
		),
		"derelict_bl": (
			coords: (5, 4),
			weight: 1,
			allowed_neighbours: {
				Left: [(label: "creep")],
				Down: [(label: "creep")],
				Right: [(label: "derelict_br")]
			},
		),
		"derelict_br": (
			coords: (6, 4),
			weight: 1,
			allowed_neighbours: {
				Right: [(label: "creep")],
				Down: [(label: "creep")]
			}
		)
	},
)
