(
    tileset_image_path: "tiles.png",
    tile_size: 16,
    tiles: {
        "floor": (
            allowed_neighbours: {
                All: [(label: "stairs"), (label: "floor")],
            },
            weight: 10,
            coords: (2, 1),
        ),
        "stairs": (
            weight: 1,
            coords: (1, 1),
        ),
    },
)
