(
	tileset_image_path: "tunnel_tiles.png",
	tile_size: 16,
	tiles: {
		"tunnel_corner": (
			weight: 1,
			coords: (2, 1),
			rotatable: true,
			allowed_neighbours: {
				All: [(label: "tunnel_corner", rotation: Opposite)],
				Left: [(label: "tunnel_corner", rotation: Plus90)],
				Right: [(label: "tunnel_corner", rotation: Plus90), (label: "blank")],
				Down: [(label: "tunnel_corner", rotation: Minus90), (label: "blank")],
				Up: [(label: "tunnel_corner", rotation: Minus90)]
			},
		),
		/*("tunnel": (
			weight: 1,
			coords: (1, 1),
			rotatable: true,
			flippable: true,
			allowed_neighbours: {
				All: [(label: "tunnel")],
				Up: [(label: "blank")],
				Down: [(label: "blank")],
				//Up: [(label: "tunnel_corner"), (label: "tunnel_corner", rotation: Minus90)],
				//Right: [(label: "tunnel_corner"), (label: "tunnel_corner", rotation: Minus90)],
				//Left: [(label: "tunnel_corner", rotation: Plus90), (label: "tunnel_corner", rotation: Opposite)],
				//Down: [(label: "tunnel_corner", rotation: Plus90), (label: "tunnel_corner", rotation: Opposite)],
			},
		),*/
		"tunnel_end": (
			weight: 1,
			coords: (3, 1),
			rotatable: true,
			allowed_neighbours: {
				Left: [(label: "tunnel_corner", rotation: Plus90), (label: "tunnel_corner", rotation: Opposite)],
				Up: [(label: "blank"), (label: "tunnel_end")],
				Down: [(label: "blank"), (label: "tunnel_end")],
				Right: [(label: "blank")]
			}
		),
		"blank": (
			weight: 1,
			coords: (3, 0),
			allowed_neighbours: {
				All: [(label: "blank")]
				//Up: [(label: "tunnel"), ]
			}
		)
	},
)
