(
	tileset_image_path: "rivers_and_roads.png",
	tile_size: 16,
	tiles: {
		"grass": (
			weight: 500,
			coords: (0, 0),
			allowed_neighbours: {
				All: [(label: "grass")],
			},
		),
		"path": (
			weight: 50,
			coords: (1, 0),
			// Whether the tile is rotatable or not, and it's symmetry type. When a tile is rotated,
			// the direction of the allowed neighbours are naturally rotated too, so here a path
			// will have to join onto another path tile and not a grass tile. Because it has `I`
			// symmetry though, a path tile can match with a path tile rotated 180 degrees.
			rotatable: Yes(symmetry: I),
			allowed_neighbours: {
				Up: [(label: "path")],
				Down: [(label: "path")],
				Left: [(label: "grass"), (label: "tree")],
				Right: [(label: "grass"), (label: "tree")]
			}
		),
		"river": (
			weight: 100,
			coords: (2, 0),
			rotatable: Yes(symmetry: I),
			allowed_neighbours: {
				Up: [(label: "river")],
				Down: [(label: "river")],
				Left: [(label: "grass")],
				Right: [(label: "grass")]
			}
		),
		"bridge": (
			weight: 50,
			coords: (3, 0),
			rotatable: Yes(symmetry: I),
			allowed_neighbours: {
				Up: [(label: "path")],
				Down: [(label: "path")],
				// By default, each tile reference is to the a regularly rotated tile, but here we
				// refer to a river tile rotated by 90 degrees.
				Left: [(label: "river", rotation: Plus90)],
				Right: [(label: "river", rotation: Plus90)]
			}
		),
		"crossroads": (
			weight: 5,
			coords: (0, 1),
			allowed_neighbours: {
				Up: [(label: "path")],
				Down: [(label: "path")],
				Left: [(label: "path", rotation: Plus90)],
				Right: [(label: "path", rotation: Plus90)]
			}
		),
		"river_bend": (
			weight: 10,
			coords: (1, 1),
			// This river bend is rotatable but has no symmetry.
			rotatable: Yes(symmetry: None),
			allowed_neighbours: {
				Up: [(label: "grass")],
				Left: [(label: "grass")],
				Down: [(label: "river")],
				Right: [(label: "river", rotation: Plus90)]
			}
		),
		"river_split": (
			weight: 0,
			coords: (0, 2),
			rotatable: Yes(symmetry: None),
			allowed_neighbours: {
				Left: [(label: "grass")],
				Up: [(label: "river")],
				Down: [(label: "river")],
				Right: [(label: "river", rotation: Plus90)],
			}
		),
		"path_bend": (
			weight: 5,
			coords: (2, 1),
			rotatable: Yes(symmetry: None),
			allowed_neighbours: {
				Up: [(label: "grass")],
				Left: [(label: "grass")],
				Down: [(label: "path")],
				Right: [(label: "path", rotation: Plus90)]
			}
		),
		"tree": (
			weight: 50,
			coords: (1, 2),
			allowed_neighbours: {
				All: [(label: "grass")]
			}
		),
		"city_ground": (
			weight: 50,
			coords: (2, 2),
			allowed_neighbours: {
				All: [(label: "city_ground")]
			}
		),
		"city_wall": (
			weight: 50,
			coords: (0, 3),
			rotatable: Yes(symmetry: None),
			allowed_neighbours: {
				Left: [(label: "city_wall"), (label: "city_wall_corner", rotation: Minus90)],
				Up: [(label: "grass")],
				Down: [(label: "city_ground")],
				Right: [(label: "city_wall"), (label: "city_wall_corner")],
			}
		),
		"city_wall_corner": (
			weight: 5,
			coords: (1, 3),
			rotatable: Yes(symmetry: None),
			allowed_neighbours: {
				Up: [(label: "grass")],
				Right: [(label: "grass")],
				Down: [(label: "city_wall", rotation: Plus90)]
			}
		),
		"city_wall_inner_corner": (
			weight: 1,
			coords: (2, 3),
			rotatable: Yes(symmetry: None),
			allowed_neighbours: {
				Up: [(label: "city_wall", rotation: Plus90)],
				Right: [(label: "city_wall")],
				Left: [(label: "city_ground")],
				Down: [(label: "city_ground")],
			}
		),
		"house": (
			weight: 10,
			coords: (3, 2),
			allowed_neighbours: {
				All: [(label: "city_ground")]
			}
		),
		"city_wall_with_river": (
			weight: 1,
			coords: (4, 0),
			rotatable: Yes(symmetry: None),
			allowed_neighbours: {
				Up: [(label: "river")],
				Left: [(label: "city_wall")],
				Right: [(label: "city_wall")],
				Down: [(label: "city_ground")]
			}
		),
		"city_wall_with_path": (
			weight: 1,
			coords: (5, 0),
			rotatable: Yes(symmetry: None),
			allowed_neighbours: {
				Up: [(label: "path")],
				Left: [(label: "city_wall")],
				Right: [(label: "city_wall")],
				Down: [(label: "city_ground")]
			}
		),
		"hills": (
			weight: 25,
			coords: (5, 1),
			allowed_neighbours: {
				All: [(label: "grass"), (label: "hills")]
			}
		),
		"mountains": (
			weight: 25,
			coords: (6, 1),
			allowed_neighbours: {
				All: [(label: "hills"), (label: "mountains")]
			}
		),
		"snowy_mountains": (
			weight: 250,
			coords: (7, 1),
			allowed_neighbours: {
				All: [(label: "mountains")]
			}
		)
	},
)
